<h1>Hello World from Index!</h1>

<a href = "/demo/Hello">Hello Page 1</a><br />
<%= link_to('Hello Page 2', {:action => 'Hello'}) %><br />

<%= link_to('Hello with Parameters', {:action => 'Hello', :page => 5, :id => 20}) %><br />
